
<div class="footer-padding"></div>
<footer class="footer-area default-style bg-img footer-hide" data-bg-img="./assets/img/photos/bg-f1.png" [style.background-image]="'url(./assets/img/photos/bg-f1.png)'">
    <div class="footer-main">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="widget-item mb-sm-30">
              <div class="about-widget">
                <a class="footer-logo" routerLink="/home">
                  <img src="./assets/img/logo-light.png" alt="Logo">
                </a>
                <p>Zymzoo winner dolor sit consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
                <div class="opening-time">
                  <h4 class="title">Opening time</h4>
                  <ul>
                    <li>Monday - Friday: 7 am to 10 pm</li>
                    <li>Saturday - Sunday: 9 am to 10 pm</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="widget-item pl-20 pl-sm-0 mb-sm-30 mb-xs-40">
              <h4>USEFULL LINK</h4>
              <nav class="widget-menu-wrap">
                <ul class="nav-menu nav">
                  <li><a routerLink="about">About us</a></li>
                  <li><a routerLink="trainers">Membership</a></li>
                  <li><a routerLink="classes">Our Classes</a></li>
                  <li><a routerLink="trainers">Instructors</a></li>
                  <li><a routerLink="shop">Shop</a></li>
                  <li><a routerLink="blogs">Blog post</a></li>
                </ul>
                <ul class="nav-menu nav">
                  <li><a href="#/">Schedules</a></li>
                  <li><a href="#/">Payment</a></li>
                  <li><a href="#/">Faqs</a></li>
                  <li><a routerLink="contact">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="widget-item mb-xs-50">
              <h4>CONTACT INFO</h4>
              <div class="widget-contact-info">
                <div class="contact-info-item">
                  <div class="icon-box">
                    <img src="./assets/img/icons/1.png" alt="Logo">
                  </div>
                  <div class="content">
                    <h4 class="title">Address</h4>
                    <p>252B, Central Street Main road Belix Tower, New York, USA</p>
                  </div>
                </div>
                <div class="contact-info-item">
                  <div class="icon-box">
                    <img src="./assets/img/icons/2.png" alt="Logo">
                  </div>
                  <div class="content">
                    <h4 class="title">Phone</h4>
                    <ul>
                      <li><a href="tel://09(123)456789">09 (123) 456 789</a></li>
                      <li><a href="tel://09(987)654321">09 (987) 654 321</a></li>
                    </ul>
                  </div>
                </div>
                <div class="contact-info-item">
                  <div class="icon-box">
                    <img src="./assets/img/icons/3.png" alt="Logo">
                  </div>
                  <div class="content">
                    <h4 class="title">Web</h4>
                    <ul>
                      <li><a href="mailto://info@example.com">info@example.com</a></li>
                      <li><a routerLink="/home">www.example.com</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="widget-item">
              <h4>NEWSLETTER</h4>   
              <div class="widget-newsletter">
                <p>Subscribe our Newsletter and gates latest updates of offers, productsa and promotions from every week we provide</p>
                <form class="newsletter-form input-btn-group">
                  <input class="form-control" type="text" placeholder="Email here">
                  <button class="btn btn-theme" type="button"><i class="fa fa-paper-plane-o"></i></button>
                </form>
              </div>         
              <div class="widget-social-icons">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="footer-bottom-content">
          <div class="row align-items-center">
            <div class="col-12">
              <div class="widget-copyright text-center">
                <p><i class="fa fa-copyright"></i> 2021 Made with <i class="fa fa-heart"></i> by <a target="_blank" href="https://www.hasthemes.com">HasThemes</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  