<div class="wrapper home-default-wrapper">

    <!--== Start Preloader Content ==-->
       
    <!--== End Preloader Content ==-->
  
    <!--== Start Header Wrapper ==-->
    <app-header></app-header>
      <!--== End Header Wrapper ==-->
      <router-outlet></router-outlet>
      <!--== Start Footer Area Wrapper ==-->

    <app-footer></app-footer>



     <!--== End Footer Area Wrapper ==-->
  
  <!--== Scroll Top Button ==-->
  <div class="scroll-to-top" (click)="scrollToTop()"><span class="fa fa-angle-double-up"></span></div>


</div>
