<header class="header-area header-default header-transparent header-style sticky-header">
    <div class="container">
      <div class="row row-gutter-0 align-items-center">
        <div class="col-1 col-xs-1 col-sm-1 col-md-1 col-xl-1">
          <div class="header-logo-area">
            <a routerLink="/home">
              <img class="logo-main" src="./assets/img/logo-light.png" alt="Logo" />
              <img class="logo-light" src="./assets/img/logo-light.png" alt="Logo" />
            </a>
          </div>
        </div>
        <div class="col-11 col-sm-11 col-xl-11">
          <div class="header-align">
            <div class="header-navigation-area d-none d-xl-block">
              <ul class="main-menu nav position-relative">
                <li><a routerLink="/home">Home</a></li>
                <li><a routerLink="/about">About</a></li>
                <li class="has-submenu"><a routerLink="/blogs">Pages</a>
                  <ul class="submenu-nav">
                    <li><a routerLink="/login-register">Login/Register</a></li>
                  </ul>
                </li>
                <li class="has-submenu hide-section2"><a routerLink="/classes">Classes</a>
                  <ul class="submenu-nav">
                    <li><a routerLink="/classes">Classes</a></li>
                    <li><a routerLink="/classes/detail">Class Details</a></li>
                  </ul>
                </li>
                <li class="has-submenu hide-section2"><a routerLink="/shop">Shop</a>
                  <ul class="submenu-nav">
                    <!-- <li><a href="shop.html">Shop</a></li> -->
                    <li><a routerLink="/shop">Shop Left Sidebar</a></li>
                    <!-- <li><a href="shop-right-sidebar.html">Shop Right Sidebar</a></li>
                    <li><a href="shop-no-sidebar.html">Shop No Sidebar</a></li> -->
                    <li><a routerLink="/shop/product-detail">Product Details</a></li>
                    <!-- <li><a href="shop-single-product-left-sidebar.html">Product Details Left Sidebar</a></li>
                    <li><a href="shop-single-product-right-sidebar.html">Product Details Right Sidebar</a></li>
                    <li><a href="shop-single-product-no-sidebar.html">Product Details No Sidebar</a></li> -->
                  </ul>
                </li>
                <li class="has-submenu hide-section2"><a routerLink="/trainers" >Trainers</a>
                  <ul class="submenu-nav">
                    <li><a routerLink="/trainers">Trainers</a></li>
                    <li><a routerLink="/trainers/detail">Trainer Details</a></li>
                  </ul>
                </li>
                <li class="has-submenu hide-section"><a routerLink="/blogs">Blog</a>
                  <ul class="submenu-nav">
                    <li><a routerLink="/blogs">Blog Left Sidebar</a></li>
                    <!-- <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                    <li><a href="blog-no-sidebar.html">Blog No Sidebar</a></li> -->
                    <li><a routerLink="/blogs/blog-detail">Blog Details Left Sidebar</a></li>
                    <!-- <li><a href="blog-details-right-sidebar.html">Blog Details Right Sidebar</a></li>
                    <li><a href="blog-details-no-sidebar.html">Blog Details No Sidebar</a></li> -->
                  </ul>
                </li>
                <li class="hide-section"><a routerLink="/contact" >Contact</a></li>
              </ul>
            </div>
            <div class="header-action-area">
              <div class="header-action-cart hide-section d-xl-block">
                <button class="btn-cart cart-icon" routerLink="/shop">
                  <span class="cart-count">2</span>
                  <i class="pe-7s-shopbag"></i>
                </button>
              </div>
              <button class="btn-menu d-xl-none" (click)="isClick=!isClick">
                <i class="fa fa-bars"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>


    <!--== Start Side Menu ==-->
    <aside class="off-canvas-wrapper" [ngClass]="{'active': isClick}">
      <div class="off-canvas-inner">
        <div class="off-canvas-overlay d-none"></div>
        <!-- Start Off Canvas Content Wrapper -->
        <div class="off-canvas-content">
          <!-- Off Canvas Header -->
          <div class="off-canvas-header">
            <div class="close-action">
              <button class="btn-close" (click)="isClick=!isClick"><i class="pe-7s-close"></i></button>
            </div>
          </div>
  
          <div class="off-canvas-item">
            <!-- Start Mobile Menu Wrapper -->
            <div class="res-mobile-menu">
              <div class="header-align">
                <div class="header-navigation-area d-none d-xl-block">
                  <ul class="main-menu nav position-relative side-menu">
                    <li (click)="isClick=!isClick"><a routerLink="/home">Home</a></li>
                    <li (click)="isClick=!isClick"><a routerLink="/about">About</a></li>
                    <li class="has-submenu"><a routerLink="/blogs">Pages</a>
                      <ul class="submenu-nav">
                        <li (click)="isClick=!isClick"><a routerLink="/login-register">Login/Register</a></li>
                      </ul>
                    </li>
                    <li class="has-submenu"><a routerLink="/classes">Classes</a>
                      <ul class="submenu-nav">
                        <li (click)="isClick=!isClick"><a routerLink="/classes">Classes</a></li>
                        <li (click)="isClick=!isClick"><a routerLink="/classes/detail">Class Details</a></li>
                      </ul>
                    </li>
                    <li class="has-submenu"><a routerLink="/shop">Shop</a>
                      <ul class="submenu-nav">
                        <!-- <li><a href="shop.html">Shop</a></li> -->
                        <li (click)="isClick=!isClick"><a routerLink="/shop">Shop Left Sidebar</a></li>
                        <!-- <li><a href="shop-right-sidebar.html">Shop Right Sidebar</a></li>
                        <li><a href="shop-no-sidebar.html">Shop No Sidebar</a></li> -->
                        <li (click)="isClick=!isClick"><a routerLink="/shop/product-detail">Product Details</a></li>
                        <!-- <li><a href="shop-single-product-left-sidebar.html">Product Details Left Sidebar</a></li>
                        <li><a href="shop-single-product-right-sidebar.html">Product Details Right Sidebar</a></li>
                        <li><a href="shop-single-product-no-sidebar.html">Product Details No Sidebar</a></li> -->
                      </ul>
                    </li>
                    <li class="has-submenu"><a routerLink="/trainers" >Trainers</a>
                      <ul class="submenu-nav">
                        <li (click)="isClick=!isClick"><a routerLink="/trainers">Trainers</a></li>
                        <li (click)="isClick=!isClick"><a routerLink="/trainers/detail">Trainer Details</a></li>
                      </ul>
                    </li>
                    <li class="has-submenu"><a routerLink="/blogs">Blog</a>
                      <ul class="submenu-nav">
                        <li (click)="isClick=!isClick"><a routerLink="/blogs">Blog Left Sidebar</a></li>
                        <!-- <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                        <li><a href="blog-no-sidebar.html">Blog No Sidebar</a></li> -->
                        <li (click)="isClick=!isClick"><a routerLink="/blogs/blog-detail">Blog Details Left Sidebar</a></li>
                        <!-- <li><a href="blog-details-right-sidebar.html">Blog Details Right Sidebar</a></li>
                        <li><a href="blog-details-no-sidebar.html">Blog Details No Sidebar</a></li> -->
                      </ul>
                    </li>
                    <li class="hide-section" (click)="isClick=!isClick"><a routerLink="/contact" >Contact</a></li>
                  </ul>
                </div>
              
              </div>
              <!-- Note Content Auto Generate By Jquery From Main Menu -->
            </div>
            <!-- End Mobile Menu Wrapper -->
          </div>
          <!-- Off Canvas Footer -->
          <div class="off-canvas-footer"></div>
        </div>
        <!-- End Off Canvas Content Wrapper -->
      </div>
    </aside>
    <!--== End Side Menu ==-->

  