<main class="main-content">
    <!--== Start Page Title Area ==-->
    <section class="page-title-area bg-img" data-bg-img="assets/img/photos/bg-page2.jpg">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="page-title-content content-style2">
              <h2 class="title"><span>SHOP</span> WISHLIST</h2>
              <div class="desc">
                <p class="ml-0">We have very professional and exprt Instructor and they can very important to maintain <br>our health luptas sit fugit, sed quia cuuntur magni dolores some products</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Page Title Area ==-->

    <!--== Start Cart Area Wrapper ==-->
    <div class="product-area wishlist-page-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="wishlist-table-wrap">
              <div class="wishlist-table table-responsive">
                <table>
                  <thead>
                    <tr>
                      <th class="pro-remove"> </th>
                      <th class="pro-thumbnail"> </th>
                      <th class="pro-name">Product</th>
                      <th class="pro-stock-status">Stock Status</th>
                      <th class="pro-price">Price</th>
                      <th class="pro-action"> </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="pro-remove"><i class="fa fa-remove"></i></td>
                      <td class="pro-thumbnail">
                        <div class="pro-info">
                          <div class="pro-img">
                            <a href="#/"><img src="assets/img/shop/2.jpg" alt="Image"></a>
                          </div>
                        </div>
                      </td>
                      <td class="pro-name"><span>Trend Coat</span></td>
                      <td class="pro-stock-status"><span>In Stock</span></td>
                      <td class="pro-price">£39.90</td>
                      <td class="pro-action"><a class="btn-theme btn-black" href="#/">Add to cart</a></td>
                    </tr>
                    <tr>
                      <td class="pro-remove"><i class="fa fa-remove"></i></td>
                      <td class="pro-thumbnail">
                        <div class="pro-info">
                          <div class="pro-img">
                            <a href="#/"><img src="assets/img/shop/3.jpg" alt="Image"></a>
                          </div>
                        </div>
                      </td>
                      <td class="pro-name"><span>Trend Coat</span></td>
                      <td class="pro-stock-status"><span>In Stock</span></td>
                      <td class="pro-price">£39.90</td>
                      <td class="pro-action"><a class="btn-theme btn-black" href="#/">Add to cart</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--== End Cart Area Wrapper ==-->
  </main>