<p>shop-cart works!</p>
<main class="main-content">
    <!--== Start Page Title Area ==-->
    <section class="page-title-area bg-img" data-bg-img="assets/img/photos/bg-page2.jpg">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="page-title-content content-style2">
              <h2 class="title"><span>SHOP</span> CART</h2>
              <div class="desc">
                <p class="ml-0">We have very professional and exprt Instructor and they can very important to maintain <br>our health luptas sit fugit, sed quia cuuntur magni dolores some products</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Page Title Area ==-->

    <!--== Start Cart Area Wrapper ==-->
    <section class="product-area cart-page-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="shipping-info">
              <div class="loading-bar">
                <div class="load-percent"></div>
                <div class="label-free-shipping">
                  <div class="free-shipping svg-icon-style">
                    <span class="svg-icon" id="svg-icon-shipping2" data-svg-icon="assets/img/icons/shop1.svg"></span>
                  </div>
                  <p>Spend £101.10 to get Free Shipping</p>
                </div>
              </div>
            </div>
            <div class="cart-table-wrap">
              <div class="cart-table table-responsive">
                <table>
                  <thead>
                    <tr>
                      <th class="pro-remove"> </th>
                      <th class="pro-thumbnail"> </th>
                      <th class="pro-name">Product</th>
                      <th class="pro-price">Price</th>
                      <th class="pro-quantity">Quantity</th>
                      <th class="pro-subtotal">Subtotal</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="pro-remove"><i class="fa fa-remove"></i></td>
                      <td class="pro-thumbnail">
                        <div class="pro-info">
                          <div class="pro-img">
                            <a href="#/"><img src="assets/img/shop/1.jpg" alt="Image"></a>
                          </div>
                        </div>
                      </td>
                      <td class="pro-name"><span>I’m a Unicorn Earrings</span></td>
                      <td class="pro-price"><span>£69.00</span></td>
                      <td class="pro-quantity">
                        <div class="action-top">
                          <div class="pro-qty-area">
                            <div class="pro-qty-style2">
                              <input type="text" id="quantity2" title="Quantity" value="1" />
                            </div>
                          </div>
                        </div>
                      <td class="pro-subtotal"><span>£69.00</span></td>
                    </tr>
                    <tr>
                      <td class="pro-remove"><i class="fa fa-remove"></i></td>
                      <td class="pro-thumbnail">
                        <div class="pro-info">
                          <div class="pro-img">
                            <a href="#/"><img src="assets/img/shop/2.jpg" alt="Image"></a>
                          </div>
                        </div>
                      </td>
                      <td class="pro-name"><span>Knit cropped cardigan</span></td>
                      <td class="pro-price"><span>£29.90</span></td>
                      <td class="pro-quantity">
                        <div class="action-top">
                          <div class="pro-qty-area">
                            <div class="pro-qty-style2">
                              <input type="text" id="quantity3" title="Quantity" value="1" />
                            </div>
                          </div>
                        </div>
                      </td>
                      <td class="pro-subtotal"><span>£29.90</span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="coupon-action">
              <div class="coupon">
                <input type="text" name="coupon_code" class="input-text" id="coupon_code" value="" placeholder="Coupon code">
                <button type="submit" class="button" name="apply_coupon" value="Apply coupon">Apply coupon</button>
              </div>
              <button type="submit" class="button" name="apply_coupon" value="Apply coupon">Update cart</button>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="cart-payment">
              <div class="cart-subtotal">
                <h2 class="title">Cart totals</h2>
                <table>
                  <tbody>
                    <tr>
                      <th>Subtotal</th>
                      <td><span class="amount">£147.00</span></td>
                    </tr>
                    <tr class="shipping-totals">
                      <th>Shipping</th>
                      <td>
                        <ul>
                          <li>
                            <div class="form-check">
                              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                              <label class="form-check-label" for="flexRadioDefault1">Flat rate: <span class="amount">£50.00</span></label>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                              <label class="form-check-label" for="flexRadioDefault2">Local pickup</label>
                            </div>
                          </li>
                        </ul>
                        <p>Shipping options will be updated during checkout.</p>
                        <p>Calculate shipping</p>
                      </td>
                    </tr>
                    <tr class="amount-total">
                      <th>Total</th>
                      <td><span class="amount">£197.00</span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <a class="btn-theme" routerLink="../shop-checkout">Proceed to Checkout</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Cart Area Wrapper ==-->
  </main>