<main class="main-content">
    <!--== Start Page Title Area ==-->
    <section class="page-title-area bg-img" data-bg-img="assets/img/photos/bg-page2.jpg">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="page-title-content">
              <h2 class="title"><span>INSTRUCTOR </span><br>PROFILE</h2>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Page Title Area ==-->

    <!--== Start Team Details Area ==-->
    <section class="team-area team-details-area">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="section-title">
              <h2 class="title">HALBERT <span>BOURN </span></h2>
              <div class="subtitle">Bodybuilding Trainer</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="btn-play-box">
              <a class="btn-play play-video-popup" href="https://www.youtube.com/watch?v=MLpWrANjFbI"><img src="assets/img/icons/play-btn1.png" alt="Image">VIEW TRAINING</a>
            </div>
          </div>
        </div>
        <div class="row team-details-item">
          <div class="col-md-6">
            <div class="thumb">
              <img src="assets/img/team/d1.jpg" alt="Item">
              <div class="social-icons">
                <a href="#"><i class="fa fa-facebook icon"></i></a>
                <a href="#"><i class="fa fa-phone icon"></i></a>
                <a href="#"><i class="fa fa-instagram icon"></i></a>
                <a href="#"><i class="fa fa-twitter icon"></i></a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="content">
              <h4 class="title">Biography</h4>
              <p>Halbert Bourn is very professional and expert trainer. In his carier, he done great job. He never compromise about his work to maintain our health luptas sit fugit, sed cuuntur magni dolores eos qui rat ione volupta pleasure rationally encounter onsequences that are extremely very professional</p>
              <h4 class="title">Achivement</h4>
              <ul class="achivement-info">
                <li>Two times National Champion of Bodibuilding - 2017 & 2018</li>
                <li>Best Bodybuilding Trainer - 2019</li>
                <li>Best National Trainer - 2019</li>
              </ul>
              <h4 class="title">Contact info</h4>
              <ul class="contact-info">
                <li><span class="title">Getsphae Gym</span>256B, South City, Main Road, New York, USA</li>
                <li><span class="title">Phone</span><a href="#/">09 (236) 654 879 </a> or <a href="#/"> 09 (587) 654 123</a></li>
                <li><span class="title">Email</span><a href="#/">info@example,com </a> or <a href="#/"> info@getshape.com</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row team-details-info">
          <div class="col-md-6">
            <div class="section-title">
              <h2 class="title">Professional Skill</h2>
              <div class="desc">
                <p>Halbert Bourn is very professional and expert trainer. In his carier, he done <br>great job. He never compromise maintain our very professional</p>
              </div>
            </div>
            <div class="progress-content">
              <!-- Start Progress Item -->
              <div class="progress-item">
                <div class="progress-info">
                  <span class="title">Bodybuilding Training</span>
                  <span class="percent"></span>
                </div>
                <div class="progress-line">
                  <div class="progress-bar-line" data-percent="95%"></div>
                </div>
              </div>
              <!-- Start Progress Item -->
              <div class="progress-item">
                <div class="progress-info">
                  <span class="title">Cardio Training</span>
                  <span class="percent"></span>
                </div>
                <div class="progress-line">
                  <div class="progress-bar-line" data-percent="80%"></div>
                </div>
              </div>
              <!-- Start Progress Item -->
              <div class="progress-item">
                <div class="progress-info">
                  <span class="title">Fitness Training</span>
                  <span class="percent"></span>
                </div>
                <div class="progress-line">
                  <div class="progress-bar-line" data-percent="90%"></div>
                </div>
              </div>
              <!-- Start Progress Item -->
              <div class="progress-item">
                <div class="progress-info">
                  <span class="title">Aerobics Training</span>
                  <span class="percent"></span>
                </div>
                <div class="progress-line">
                  <div class="progress-bar-line" data-percent="65%"></div>
                </div>
              </div>
            </div>
            <div class="team-rating"> 
              <h2 class="title">Rating</h2>
              <div class="ratting-icons">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="section-title">
              <h2 class="title">Send Message</h2>
              <div class="desc">
                <p>If you need any information, feel free to send me message I will try to answer your and give you proper tips about your message</p>
              </div>
            </div>
            <div class="comment-form-wrap">
              <div class="clearfix"></div>
              <form action="#" method="post">
                <div class="comment-form-content">
                  <div class="row row-gutter-13">
                    <div class="col-md-6">
                      <div class="form-group">
                        <input class="form-control" type="text" placeholder="Name" required="">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <input class="form-control" type="email" placeholder="Email" required="">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <textarea class="form-control" name="comment" id="comment" cols="45" rows="7" placeholder="Write message here" required=""></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group m-0">
                        <button class="btn btn-theme" type="submit">SEND MESSAGE</button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Team Area ==-->

    <!--== Start Testimonial Area ==-->
    <section class="testimonial-area testimonial-inner-style2">
    <app-testimonials></app-testimonials>
    </section>
    <!--== End Testimonial Area ==-->
  </main>