  
  <main class="main-content">
    <!--== Start Page Title Area ==-->
    <section class="page-title-area bg-img" data-bg-img="assets/img/photos/bg-page2.jpg">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="page-title-content content-style2">
              <h2 class="title"><span>BLOG </span>POST</h2>
              <div class="desc">
                <p>We have very professional and exprt Instructor and they can very important  <br>to maintain our health luptas sit fugit, sed quia cuuntur magni dolores </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Page Title Area ==-->

    <!--== Start Blog Area Wrapper ==-->
    <section class="blog-area blog-grid-area">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8 order-0 order-lg-1">
            <div class="blog-content-area">
              <div class="row">
                <div class="col-md-6">
                  <!--== Start Blog Post Item ==-->
                  <div class="post-item">
                    <div class="thumb">
                      <a routerLink="/blogs/blog-detail"><img src="assets/img/blog/1.jpg" alt="Image"></a>
                    </div>
                    <div class="content">
                      <div class="meta">
                        <a class="category" routerLink="/blogs"><i class="fa fa-tags icon"></i><span> FITNESS</span></a>
                        <a class="post-date" routerLink="/blogs"><i class="fa fa-calendar icon"></i><span> 05 MAY, 2023</span></a>
                      </div>
                      <h4 class="title">
                        <a routerLink="/blogs/blog-detail">Perfect workout is the way to shape your body and mind</a>
                      </h4>
                      <p>Gym is very important to maintain our health quia cuuntur magni dolores eos pleasure of mind and make you more healthier</p>
                    </div>
                  </div>
                  <!--== End Blog Post Item ==-->
                </div>
                <div class="col-md-6">
                  <!--== Start Blog Post Item ==-->
                  <div class="post-item">
                    <div class="thumb">
                      <a routerLink="/blogs/blog-detail"><img src="assets/img/blog/2.jpg" alt="Image"></a>
                    </div>
                    <div class="content">
                      <div class="meta">
                        <a class="category" routerLink="/blogs"><i class="fa fa-tags icon"></i><span> YOGA</span></a>
                        <a class="post-date" routerLink="/blogs"><i class="fa fa-calendar icon"></i><span> 04 MAY, 2023</span></a>
                      </div>
                      <h4 class="title">
                        <a routerLink="/blogs/blog-detail">Yoga is important for both body and mind refreshment</a>
                      </h4>
                      <p>Gym is very important to maintain our health  quia cuuntur magni dolores eos pleasure of mind and make you more healthier</p>
                    </div>
                  </div>
                  <!--== End Blog Post Item ==-->
                </div>
                <div class="col-md-6">
                  <!--== Start Blog Post Item ==-->
                  <div class="post-item">
                    <div class="thumb">
                      <a routerLink="/blogs/blog-detail"><img src="assets/img/blog/3.jpg" alt="Image"></a>
                    </div>
                    <div class="content">
                      <div class="meta">
                        <a class="category" routerLink="/blogs"><i class="fa fa-tags icon"></i><span> Aerobics</span></a>
                        <a class="post-date" routerLink="/blogs"><i class="fa fa-calendar icon"></i><span> 01 MAY, 2023</span></a>
                      </div>
                      <h4 class="title">
                        <a routerLink="/blogs/blog-detail">Cardio workout is vary important body fit and healthier</a>
                      </h4>
                      <p>Gym is very important to maintain our health quia cuuntur magni dolores eos pleasure of mind and make you more healthier</p>
                    </div>
                  </div>
                  <!--== End Blog Post Item ==-->
                </div>
                <div class="col-md-6">
                  <!--== Start Blog Post Item ==-->
                  <div class="post-item">
                    <div class="thumb">
                      <a routerLink="/blogs/blog-detail"><img src="assets/img/blog/4.jpg" alt="Image"></a>
                    </div>
                    <div class="content">
                      <div class="meta">
                        <a class="category" routerLink="/blogs"><i class="fa fa-tags icon"></i><span> CARDIO</span></a>
                        <a class="post-date" routerLink="/blogs"><i class="fa fa-calendar icon"></i><span> 30 APRIL, 2023</span></a>
                      </div>
                      <h4 class="title">
                        <a routerLink="/blogs/blog-detail">Don’t wish for perfect body you have to work for it</a>
                      </h4>
                      <p>Gym is very important to maintain our health quia cuuntur magni dolores eos pleasure of mind and make you more healthier</p>
                    </div>
                  </div>
                  <!--== End Blog Post Item ==-->
                </div>
                <div class="col-md-6">
                  <!--== Start Blog Post Item ==-->
                  <div class="post-item">
                    <div class="thumb">
                      <a routerLink="/blogs/blog-detail"><img src="assets/img/blog/5.jpg" alt="Image"></a>
                    </div>
                    <div class="content">
                      <div class="meta">
                        <a class="category" routerLink="/blogs"><i class="fa fa-tags icon"></i><span> FITNESS</span></a>
                        <a class="post-date" routerLink="/blogs"><i class="fa fa-calendar icon"></i><span> 20 APRIL, 2023</span></a>
                      </div>
                      <h4 class="title">
                        <a routerLink="/blogs/blog-detail">Weight training necessary for fit your body and refresh mind</a>
                      </h4>
                      <p>Gym is very important to maintain our health quia cuuntur magni dolores eos pleasure of mind and make you more healthier</p>
                    </div>
                  </div>
                  <!--== End Blog Post Item ==-->
                </div>
                <div class="col-md-6">
                  <!--== Start Blog Post Item ==-->
                  <div class="post-item">
                    <div class="thumb">
                      <a routerLink="/blogs/blog-detail"><img src="assets/img/blog/6.jpg" alt="Image"></a>
                    </div>
                    <div class="content">
                      <div class="meta">
                        <a class="category" routerLink="/blogs"><i class="fa fa-tags icon"></i><span> CARDIO</span></a>
                        <a class="post-date" routerLink="/blogs"><i class="fa fa-calendar icon"></i><span> 18 APRIL, 2023</span></a>
                      </div>
                      <h4 class="title">
                        <a routerLink="/blogs/blog-detail">Exercies make our body perfect and make our mind healthier</a>
                      </h4>
                      <p>Gym is very important to maintain our health quia cuuntur magni dolores eos pleasure of mind and make you more healthier</p>
                    </div>
                  </div>
                  <!--== End Blog Post Item ==-->
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="pagination-area mb-md-90">
                    <nav>
                      <ul class="page-numbers">
                        <li>
                          <a class="page-number next" routerLink="/blogs">
                            <i class="fa fa-angle-left"></i>
                          </a>
                        </li>
                        <li>
                          <a class="page-number active" routerLink="/blogs">1</a>
                        </li>
                        <li>
                          <a class="page-number" routerLink="/blogs">2</a>
                        </li>
                        <li>
                          <a class="page-number" routerLink="/blogs">3</a>
                        </li>
                        <li>
                          <a class="page-number" routerLink="/blogs">4</a>
                        </li>
                        <li>
                          <a class="page-number view-all" routerLink="/blogs">...</a>
                        </li>
                        <li>
                          <a class="page-number" routerLink="/blogs">15</a>
                        </li>
                        <li>
                          <a class="page-number next" routerLink="/blogs">
                            <i class="fa fa-angle-right"></i>
                          </a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-4 order-1 order-lg-0">
            <div class="sidebar-area inner-left-padding">
              <div class="widget-item">
                <div class="widget-title">
                  <h3 class="title">SEARCH</h3>
                </div>
                <div class="widget-body">
                  <div class="widget-search-box">
                    <form action="#" method="post">
                      <div class="form-input-item">
                        <label for="search2" class="sr-only">Keywords here</label>
                        <input type="text" id="search2" placeholder="Keywords here">
                        <button type="submit" class="btn-src">
                          <i class="fa fa-search"></i>
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="widget-item">
                <div class="widget-title">
                  <h3 class="title">CATEGORIES</h3>
                </div>
                <div class="widget-body widget-categorie-body">
                  <div class="widget-categories">
                    <ul>
                      <li><a routerLink="/blogs">Fitness Workout <span>25</span></a></li>
                      <li><a routerLink="/blogs">Crossfit Workout<span>52</span></a></li>
                      <li><a routerLink="/blogs">Body Building Workout<span>12</span></a></li>
                      <li><a routerLink="/blogs">Yoga Workout<span>18</span></a></li>
                      <li><a routerLink="/blogs">Freehand Workout<span>45</span></a></li>
                      <li><a routerLink="/blogs">Cardio Workout<span>72</span></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="widget-item">
                <div class="widget-title">
                  <h3 class="title">RECENT POST</h3>
                </div>
                <div class="widget-body widget-post-body">
                  <div class="widget-blog-post">
                    <ul>
                      <li>
                        <div class="thumb">
                          <img class="w-100" src="assets/img/blog/s1.jpg" alt="Image">
                        </div>
                        <div class="content">
                          <div class="meta">
                            <a class="category" routerLink="/blogs"><i class="fa fa-tags icon"></i><span> TRAINER</span></a>
                            <a class="post-date" routerLink="/blogs"><i class="fa fa-calendar icon"></i><span> 25 APRIL, 2023</span></a>
                          </div>
                          <h4 class="title">
                            <a routerLink="/blogs/blog-detail">Professional and Expert Trainer can show your the right way</a>
                          </h4>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="widget-body widget-post-body">
                  <div class="widget-blog-post">
                    <ul>
                      <li>
                        <div class="thumb">
                          <img class="w-100" src="assets/img/blog/s2.jpg" alt="Image">
                        </div>
                        <div class="content">
                          <div class="meta">
                            <a class="category" routerLink="/blogs"><i class="fa fa-tags icon"></i><span> BODYBUILD</span></a>
                            <a class="post-date" routerLink="/blogs"><i class="fa fa-calendar icon"></i><span> 20 APRIL, 2023</span></a>
                          </div>
                          <h4 class="title">
                            <a routerLink="/blogs/blog-detail">Triceps is the key to make perfect body and shape your muscle</a>
                          </h4>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="widget-item mb-md-0">
                <div class="widget-title">
                  <h3 class="title">TAGS</h3>
                </div>
                <div class="widget-body widget-tags-body">
                  <div class="widget-tags">
                    <ul>
                      <li><a routerLink="/classes">Fitness</a></li>
                      <li><a routerLink="/classes">Workout</a></li>
                      <li><a routerLink="/classes">Bodybuild</a></li>
                      <li><a routerLink="/classes">Aerobics</a></li>
                      <li><a routerLink="/classes">Crossfit</a></li>
                      <li><a routerLink="/classes">Cardio</a></li>
                      <li><a routerLink="/classes">Yoga</a></li>
                      <li><a routerLink="/classes">Exercise</a></li>
                      <li><a routerLink="/classes">Gym</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Blog Area Wrapper ==-->
  </main>